* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
}

body{
    overflow: hidden;
    background: linear-gradient(270deg, #25229b, #2c1586, #5c2ca0);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    -o-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;  
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

main.singUp {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    align-items: center;
    text-align: center;

    div.checkbox-terms {

        a {
            color: blueviolet;
            text-decoration: underline;
        }

        input.terms-checkbox {
            height: 20px;
            width: 25px;
            color: rgb(192, 49, 49);
            border: solid 1px whitesmoke;
        }

        /* On mouse-over, add a grey background color */
        .terms-checkbox:hover~input {
            background-color: rgb(38, 177, 136);
        }
    }

    div.box-image {
        width: 100vw;
        height: 30vh;
        align-items: center;
        text-align: center;
        align-content: center;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .form-singup {
        display: block;
        width: 100vw;
        height: 43vh;
        padding-left: 6%;
        margin-top: 3%;

        .label-float {
            position: relative;
            padding-top: 20px;
            padding-bottom: 18px;
            width: 34%;
            display: inline-flex;
        }
        
        .label-float input {
            border: 0;
            border-bottom: 2px solid lightgrey;
            outline: none;
            min-width: 350px;
            font-size: 15px;
            transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -webkit-appearance: none;
            border-radius: 0;
            background-color: transparent;
        }

        .label-float input:focus {
            border-bottom: 2px solid #ffffff;
        }

        .label-float input::placeholder {
            color: transparent;
        }

        .label-float label {
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 13px;
            transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
        }

        .label-float input:required:invalid+label {
            color: whitesmoke;
        }

        .label-float input:focus:required:invalid {
            border-bottom: 2px solid whitesmoke;
        }

        .label-float input:required:invalid+label:before {
            content: '*';
        }

        .label-float input:focus+label,
        .label-float input:not(:placeholder-shown)+label {
            font-size: 12px;
            margin-top: 0;
            color: #ffffff;
        }
    }

    .button-singup{
        margin-top: 2%;
        background-color: transparent;
        button{
            background-color: azure;
            border-radius: 20px;
            color: blueviolet;
            width: 150px;
            height: 40px;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

@media only screen and (max-width: 600px) {
    .form-singup{
        
        .label-float{
            display: block;
            
        }

        .label-float input {
            min-width: 120px;
            font-size: 12px;

        }
    }
}