@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main.myProfile{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color:#FFF;
    color: black;

    .body-header{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        
        .col{
            margin-top: 20em;
            width: 45vw;
            height: 45vh;

            .class-component{
                p{
                    color: grey;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 30px;
                    letter-spacing: 7.5px;
                    text-align: left;
                    margin-left: 22em;
                }
            }

            .infos{
                
                .name{
                    display: inline-flex;
                    
                    h2{
                        font-family: 'Plus Jakarta Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 44px;
                        line-height: 55px;
                        margin-right: 0.3em;
                    }
                    #first{
                        color: black;
                    }
                    #last{
                        color: #4D3A99;
                    }
                    
                }

                p{
                    color: black;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    text-align: left;
                    align-content: center;
                    margin-left: 16em;
                    margin-top: 1em;
                    width: 65%;
                }
            }

            .social-media{

            }

            .image-perfil{
                margin-top: 20em;
                width: 45vw;
                height: 40vh;

                .back{
                    width: 351px;
                    height: 408px;
                    right: 20em;
                    top: 258px;
                    z-index: 0;
                    position: absolute;
                    transform: rotate(-7.55deg);
                }

               .image{
                    width: 336px;
                    height: 400px;
                    right: 20em;
                    top: 258px;
                    z-index: 2;
                    position: absolute;
                }
            }
        }
    }

}

.nav-bar {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 3;
    width: 100%;
    margin-top: 0% !important;

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        display: none;
        flex-direction: column;
        align-items: flex-start;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            background-color: #fff;
            flex-direction: column;
            width: 100%;

            .menu-item {
                width: 100%;
                display: none;

                :hover {
                    background-color: purple;
                    border-radius: 30px;
                    color: #fff;
                }

                a {
                    display: block;
                    text-decoration: none !important;
                    text-align: left;
                    padding: 10px 30px;
                    color: #232E35;
                    width: 100%;
                }
            }
        }
    }

  
}

.nav-bar .logo {
    display: none;
}

/* menu icon */

.nav-bar .menu-icon {
    cursor: pointer;
    display: flex;
    padding: 35px;
    float: right;
    position: relative;
    user-select: none;
    align-items: center;

    .navicon {
        background: purple;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 20px;
    }

    .navicon:before,
    .navicon:after {
        background: purple;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .navicon:before {
        top: 5px;
    }
    
    .navicon:after {
        top: -5px;
    }

}

/* menu btn */

.nav-bar .menu-btn {
    display: none;
    margin-top: 10px;
}

.nav-bar .menu-btn:checked~.menu .menu-item{
    display: block;
    max-height: fit-content;
    background-color: #fff;
    padding: 10px;
    
    :hover {
        background-color: purple;
        border-radius: 20px;
        color: #fff;
    }

    a {
        display: block;
        text-decoration: none !important;
        text-align: left;
        color: black;
        padding: 8px 30px;
    }
}

.nav-bar .menu-btn:checked~.menu{
    display: block;
}

.nav-bar .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.nav-bar .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
    background-color: purple;
}

.nav-bar .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
    background-color: purple;
}

.container .container:target ~ .menu {
    display: none;
}

.nav-bar .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.nav-bar .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 850px) {

    .nav-bar {
        width: 90%;
        background-color: transparent;

        margin-top: 5.5% !important;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;

        .logo {
            display: block;
            float: left;
            height: 2em;
            text-decoration: none;
            margin-left: 4em;
        }

        .menu-icon {
            display: none;
        }

        .menu {
            clear: none;
            float: right;
            max-height: none;
            display: flex;

            flex-direction: row;
            justify-content: space-around;
            width: 50%;

            li {
                float: right;
                padding: 6px 10px;
                display: flex;
                align-items: center;
                justify-content: center;


                :hover {
                    background-color: purple;
                    border-radius: 30px;
                    color: white;
                }

                a {
                    font-family: 'Montserrat';
                    font-size: 0.8rem;
                    color: black;
                    text-decoration: none;
                    transition: .4s ease;
                    padding: 6px 8px;

                }
            }
        }
    }
}

