@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Plus+Jakarta+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');

div.main-works{
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    h4{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #656D72;
        padding-top: 10px;
        display: flex;
        justify-content: left;
        padding-left: 10em;
        letter-spacing: 7.5px;    
    }
    
    h1{
        color: #232E35;
        padding-left: 2.5em;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px; 
    }
    
    div.box-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
    
        div.box{
            padding-right: 5em;
            
            img{
                margin-left: 10px;
            }
        }
    }
}