@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Plus+Jakarta+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');

*{
    color: black;
}

div.main-works{
    text-align: center;
    box-sizing: border-box;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 0;

    div.modal{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: rgba(185, 185, 185, 0.541);
        position: absolute;
        width: 100vw;
        height: 100vh;

        div.content{
            width: 51vw;
            height: 55vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            border-radius: 20px;
            position: relative;

            button.closeModal{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                background-color: transparent;
                padding-right: 3em;
                padding-bottom: 37.5%;
                position: absolute;
                
                i{
                    cursor: pointer;
                    color: #232E35;
                    font-size: 1.2rem;
                    padding: 12px 12px 8px 12px;
                    border-radius: 100%;
                }

                i:hover{
                    background-color: #f0ebeb;
                }
            }

            h1.textModal{
                color: #232E35;
                font: normal 500 1.7rem 'Plus Jakarta Sans';
                margin-bottom: 0.5em;
            }

            input.inputModal{
                margin-top: 1em;
                height: 3em;
                width: 20em;
                border: black 1px solid;
                color: black;
                z-index: 100;
            }

            button.submitNewPortfolio{
                height: 2.5em;
                width: 15em;
                background-color: #232E35;
                border-radius: 10px;
                margin-top: 2em;
                cursor: pointer;
                z-index: 100;
            }

            button.submitNewPortfolio:hover{
                background-color: #656D72;
            }
        }
    }

    div.modalEdit{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: rgba(185, 185, 185, 0.541);
        position: absolute;
        width: 100vw;
        height: 100vh;

        div.content{
            width: 45vw;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            border-radius: 20px;
            position: relative;

            button.close{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                background-color: transparent;
                padding-right: 3em;
                margin-bottom: 37.5%;
                position: absolute;
                
                i{
                    cursor: pointer;
                    color: #232E35;
                    font-size: 1.2rem;
                    padding: 12px 12px 8px 12px;
                    border-radius: 100%;
                }

                i:hover{
                    background-color: #f0ebeb;
                }
            }

            h1{
                color: black;
                font: normal 500 1.7rem 'Plus Jakarta Sans';
                margin-bottom: 1rem;
            }

            input{
                margin-top: 0.5em;
                height: 3em;
                width: 20em;
                border: black 1px solid;
                color: black;
            }

            button.edit{
                margin-top: 1em;
                width: 6rem;
                height: 2.2rem;
                border-radius: 10px;
                background-color: #232E35;
                cursor: pointer;
            }

            button.edit:hover{
                background-color: #656D72;
            }
        }
    }

    .modalDelete{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        background-color: rgba(185, 185, 185, 0.541);
        position: absolute;
        width: 100vw;
        height: 100vh;

        .content{
            width: 35vw;
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            color: black;
            border-radius: 20px;
        
            h1{
                color: black;
                font: 500 1.5rem 'Inter';
                max-width: 60%;
            }

            div.buttons{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: min-content;
                padding: 2em 20% 0 20%;
            
                button{
                    background-color: #232E35;
                    width: 5rem;
                    height: 3rem;
                    border-radius: 10px;
                }

                button:hover{
                    background-color: #656D72;
                }
            }
        }
    }
    
    h4{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #656D72;
        padding-top: 10px;
        display: flex;
        justify-content: left;
        padding-left: 10em;
        letter-spacing: 7.5px;    
    }
    
    div.header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 7%;
        position: relative;

        h1{
            color: #232E35;
            padding-left: 2.5em;
            font-family: 'Plus Jakarta Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 45px; 
            margin-bottom: 2em;
        }

        button.newPortfolio{
            position: absolute;
            left: 90%;
            top: 50%;
            transform: translateY(-40%);
            background-color: transparent;
            border-radius: 10px;
            cursor: pointer;

            i{
                color: #232E35;
                font-size: 1.2rem;
                padding: 12px 10px 6px 10px;
                border-radius: 100%;
            }

            i:hover{
                background-color: #f0ebeb;
            }
        }
    }

    h2{
        color: black;
    }

    .image-box{
        display: inline-flex;
    }
}